* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: Playfair Display;
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot");
    src: local(Playfair Display), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff") format('woff'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.woff2") format('woff2'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.eot?#iefix") format('embedded-opentype'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.ttf") format('truetype'), url("../fonts/PlayfairDisplay/PlayfairDisplay_italic.svg#PlayfairDisplay_italic") format('svg');
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato_regular.eot");
    src: local(Lato), url("../fonts/Lato/Lato_regular.woff") format('woff'), url("../fonts/Lato/Lato_regular.woff2") format('woff2'), url("../fonts/Lato/Lato_regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato/Lato_regular.ttf") format('truetype'), url("../fonts/Lato/Lato_regular.svg#Lato_regular") format('svg');
    font-style: normal;
    font-weight: 600;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}